.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.idea
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
src/main/resources/app.properties



